<mat-toolbar color="primary">
  {{ title }}
</mat-toolbar>


<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <!--<p>Search Your Favourite Music, Movies & Apps</p>-->
     <mat-card-title>Search Your Favourite Music, Movies & Apps </mat-card-title> 
  </mat-card-header>
  <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Enter Music to Search" [(ngModel)]="searchedItem">
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Select Music or Apps" [(ngModel)]="selectedItem">
            <mat-option *ngFor="let item of items" [value]="item.value">
              {{ item.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="button-row">
          <button mat-raised-button color="primary" (click)="SearchItunes(searchedItem,selectedItem)">Search</button>
        </div>
  </mat-card-content>
</mat-card>

  <mat-card *ngFor="let data of iData; let i=index">
      <div class="col-lg-6" (click)=getFullDetails(data.id)>
          <div class="well sponsor">
              <span style="float: left; margin-right: 15px;"><img src="https://image.tmdb.org/t/p/original{{ data.poster_path }}" width="170" height="250"></span>             
              <h4 style="margin-bottom: 0.4em;">{{ data.title }}</h4>
              <div class="clearfix">
              <p> {{ data.overview }} </p>
              </div>
          </div>
      </div>

  </mat-card>
