<mat-toolbar color="primary">
  {{ title }}
</mat-toolbar>


<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <p>Search Your Favourite Music, Movies & Apps</p>
    <!-- <mat-card-title>Search Your Favourite Music, Movies & Apps </mat-card-title> -->
  </mat-card-header>
  <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Enter Music to Search" [(ngModel)]="searchedItem">
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Select Music or Apps" [(ngModel)]="selectedItem">
            <mat-option *ngFor="let item of items" [value]="item.value">
              {{ item.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="button-row">
          <button mat-raised-button color="primary">Search</button>
        </div>
  </mat-card-content>
</mat-card>